asgiref==3.6.0
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.6
Django==4.2.1
djangorestframework==3.14.0
filelock==3.9.0
idna==3.4
Pillow==9.4.0
pipenv==2023.7.23
platformdirs==3.1.0
pytz==2023.3
razorpay==1.4.1
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.20.0
virtualenv-clone==0.5.7
